*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{

margin-top: 30px;
position:relative;
}
.box{
  float:right;
  height: 16vh;
  width: 16vh;
  background-color:rgb(74, 116, 255);
  border-radius: 60% 0 0 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.box2{
  float:right;
  height: 34vh;
  width: 56vh;
  background-color:aquamarine;
  border-radius: 10% 0 0 10%;
  z-index: 1;
 
   
}
.bottomDiv{
  position:relative;
  bottom:-7px;
  left:150px;
}
.box-2{
  visibility: hidden;
}
.animatebox{
  transition: all 4s ease;
  transform:translateX(17vh);
}
.animate{
  animation: widthAnimate2 3s ease-in-out 1s alternate;

}
.l{
  border-radius: 50%;
  
  height: 13vh;
  width: 13vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  
}


@keyframes widthAnimate2 {
  0%{
      width: 0;
  }
  100%{
      width:66vh;
     
  }
}